.title {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	max-width: 450px;
}
.title span {
	color: #f9a109;
}
.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.search {
	width: 275.61px;
	height: 50.92px;

	background: #ffffff;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
	border-radius: 12px;
	border: none;
	background-image: url("/icons/search_base.svg");
	background-repeat: no-repeat;
	background-position-x: 19px;
	background-position-y: center;
	background-size: 19px 19px;
	padding-left: 45px;
}
.group {
	margin-bottom: 40px;
}
.group h4 {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	color: #000000;
}
.catogory-wrapper {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 17px;
	column-gap: 5px;
}
.item {
	background-color: #ffffff;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	max-width: 130px;
	max-height: 70px;
	/* identical to box height */

	color: #000000;
	padding: 10px 12px;
	padding-right: 2px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item button {
	font-weight: 700;
	background-color: transparent;
	width: 40px;
	height: 40px;
	background-image: url("/icons/add_base.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	cursor: pointer;
	border: none;
	position: relative;
	transition: background-image 0.3s ease-in;
}
.item button:hover {
	background-image: url("/icons/hovers/add.svg");
}
.item button:hover::after {
	content: "add item to cart";
	position: absolute;
	height: 20px;
	width: 100px;
	background-color: #000000;
	color: white;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	left: 35px;
	top: 12px;
}
@media only screen and (min-width: 600px) {
	.header {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.catogory-wrapper {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		row-gap: 27px;
	}
	.item {
		font-size: 16px;
		line-height: 20px;
		max-width: 182px;
		padding: 15px 16px;
		padding-right: 2px;
	}
}
