.page {
	width: calc(100vw - 95px);
	background-color: #fafafe;
	min-height: 100vh;
	margin-left: 90px;
	overflow-x: hidden;
}
@media only screen and (min-width: 600px) {
	.page {
		width: calc(100vw - 118px);
		margin-left: 95px;
	}
}
